.text {
    display: inline-block;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 96px;
}

.mini {
    font-size: 8px;
}

.massive-space {
    height: 7680px;
}

.wrapper {
    text-align: center;
}
